* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #040B10;
}

.linia-naranja {
    background-color: #D12332;
    margin-top: 100px;
    height: 3px;
    width: 10%;
}

h1 {
    color: white;
}