/* HERO SECTION */

.herosection {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    overflow: hidden;
}

.herosection video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantiene el video ajustado al área sin distorsiones */
    z-index: 0;
    opacity: 80%;
}

.opciones-herosection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* Ajusta la altura de los elementos al contenedor */
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    gap: 20px;
    text-align: center;
}

.opciones-herosection h2 {
    color: var(--white);
}

.opciones-herosection button {
    background-color: var(--lollipop);
    border: 0;
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
    font-size: 13px;
}

.opciones-herosection button:hover {
    background-color: var(--white);
    cursor: pointer;
    color: var(--black);
}

.novedades-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.novedades-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.h1-novedades-contenedor {
    color: var(--white);
}

.novedad {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--mediowhite);
}

.portada-novedad img {
    width: 100%;
}

.información-novedad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.información-novedad-arriba {
    display: flex;
    align-items: center;
    gap: 3px;
}

.información-novedad-abajo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.categoria-novedad {
    color: var(--lollipop);
}

.fecha-categoria {
    font-weight: 200 !important;
}

.descripcion-novedades {
    width: 315px;
    font-size: 16px;
}


/* GUIA PRINCIPIANTES */

.guia-principiantes-contenedor {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.guia-principiantes-contenido {
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/guiaprincipiantes.jpg);
}

.guia-principiante-izq,
.guia-principiante-drch {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.guia-principiante-izq img {
    max-width: 100%;
    max-height: 80%;
    height: auto;
}

.descripcion-guia-principiante {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--white);
}

.color-lolipop {
    color: #ff4655;
}

.h1-guia-principiante-drch {
    color: #ff4655;
    font-size: 70px;
}

.descripcion-guia-principiante {
    font-size: 30px;
    width: 600px;
    text-align: center;
}

.guia-principiante-drch-interno {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rondas,
.equipo {
    display: flex;
    gap: 20px;
}

.rondas-interno,
.equipo-interno {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    color: var(--white);
}

.rondas-interno p,
.equipo-interno p {
    font-size: 20px;
}

.guiaprincipiante-izq p {
    font-size: 35px;
    color: var(--white);
    width: 450px;
}

.color-lolipop {
    color: var(--lollipop);
}


/* RESPONSIVE */

@media only screen and (max-width: 809px) {
    .opciones-herosection h2 {
        font-size: 18px;
    }
    .opciones-herosection button {
        padding: 20px;
        font-size: 15px;
    }
    .herosection video {
        object-fit: cover;
    }
}