/* HERO SECTION */

.herosection {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    overflow: hidden;
}

.herosection video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantiene el video ajustado al área sin distorsiones */
    z-index: 0;
    opacity: 80%;
}

.opciones-herosection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* Ajusta la altura de los elementos al contenedor */
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    gap: 20px;
    text-align: center;
}

.opciones-herosection h2 {
    color: var(--white);
}

.opciones-herosection button {
    background-color: var(--lollipop);
    border: 0;
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
    font-size: 13px;
}

.opciones-herosection button:hover {
    background-color: var(--white);
    cursor: pointer;
    color: var(--black);
}

.novedades-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.novedades-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.h1-novedades-contenedor {
    color: var(--white);
}

.novedad {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--mediowhite);
}

.portada-novedad img {
    width: 100%;
}

.información-novedad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.información-novedad-arriba {
    display: flex;
    align-items: center;
    gap: 3px;
}

.información-novedad-abajo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.categoria-novedad {
    color: var(--lollipop);
}

.fecha-categoria {
    font-weight: 200 !important;
}

.descripcion-novedades {
    width: 315px;
    font-size: 16px;
}


/* GUIA PRINCIPIANTES */

.guia-principiantes-contenedor {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.guia-principiantes-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../assets/guiaprincipiantes.jpg);
    height: 650px;
}

.guia-principiantes-contenido-interno {
    display: flex;
    justify-content: center;
    width: 1225px;
    gap: 80px;
}

.guia-principiante-izq img {
    height: 600px;
}

.guia-principiante-drch {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.h1-guia-principiante-drch {
    color: var(--lollipop);
    font-size: 70px;
}

.descripcion-guia-principiante {
    width: 500px;
    color: var(--white);
    font-size: 20px
}

.descripcion-guia-principiante .color-lolipop {
    color: var(--lollipop);
}

.guia-principiante-drch-interno {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    color: var(--white);
}

.guia-principiante-drch-interno p {
    width: 175px;
    font-size: 20px;
}

.rondas,
.equipo {
    display: flex;
    gap: 90px;
    min-width: 400px;
}


/* RESPONSIVE */

@media only screen and (max-width: 809px) {
    .opciones-herosection h2 {
        font-size: 18px;
    }
    .opciones-herosection button {
        padding: 20px;
        font-size: 15px;
    }
    .herosection video {
        object-fit: cover;
    }
    .novedad {
        align-items: center;
        justify-content: center;
    }
    .guia-principiantes-contenido {
        width: 400px;
    }
    .guia-principiantes-contenido-interno {
        text-align: center;
        gap: 0;
    }
    .guia-principiante-izq img {
        display: none;
    }
    .guia-principiante-drch {
        align-items: center;
        width: 400px;
    }
    .h1-guia-principiante-drch {
        font-size: 40px;
    }
    .descripcion-guia-principiante {
        width: 200px;
    }
    .rondas,
    .equipo {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}